* {
  box-sizing: border-box;
  max-width: 100%;
}

.header {
  font-family: 'Audiowide', cursive;
  padding: 0px;
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
}

.body {
  background-color: rgb(238, 0, 0);
  min-height: 100vh;
  margin: 0;
  display: center;
  align-items: center;
  color: #dddacb;
}

.grid-container {
  background: linear-gradient(to bottom right, #d40606, #f8d215);
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);

}

.grid-container {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}

.grid-item {
  background: linear-gradient(to bottom right, #0026ce, #000000);
  overflow: hidden;

}

.grid-item img {
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.grid-item:hover img {
  transform: scale(1.05);
}

@media (min-width: 600px) {

  body {
    background-color: #eaf2f8;
  }

  @media (min-width: 1024px) {

    body {
      background-color: #d6eaf8;
    }

    @media (min-width: 600px) {

      body {
        background-color: #000000;
      }

      h1 {
        font-size: 2.5em;
      }

      .texto-adaptativo {
        font-size: 1.1em;
      }
    }

    @media (min-width: 900px) {

      body {
        background-color: #ccf2ff;
      }

      h1 {
        font-size: 3.2em;
      }

      .texto-adaptativo {
        font-size: 1.25em;
      }
    }

    @media (min-width: 1200px) {

      body {
        background-color: #99e6ff;
      }

      h1 {
        font-size: 4em;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: #ccf2ff;
  }

  .contenedor {
    width: 70%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-color: #ccffcc;
  }

  .contenedor {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #ffcccc;
  }

  .contenedor {
    width: 30%;
  }
}