body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #ffffcc;
  transition: background-color 0.5s ease;
}

h1 {
  color: #333;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}

.caja {
  width: 100%;
  padding: 40px 20px;
  background-color: #00c6f7;
  /* Gris claro */
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  font-weight: bold;
}

.caja-1 {
  background-color: #e67e22;
  color: white;
}

.caja-2 {
  background-color: #2ecc71;
  color: white;
}

.caja-3 {
  background-color: #9b59b6;
  color: white;
}

.contenedor {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: width 0.5s ease;
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: #ccf2ff;
  }

  .contenedor {
    width: 70%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-color: #ccffcc;
  }

  .contenedor {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #ffcccc;
  }

  .contenedor {
    width: 30%;
  }
}

@media (min-width: 600px) {

  body {
    background-color: #eaf2f8;
  }

  .main-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
  }

  .caja {
    width: calc(33.33% - 15px);
    padding: 30px 10px;
  }
}

@media (min-width: 1024px) {

  body {
    background-color: #d6eaf8;
  }

  .main-container {

    justify-content: space-between;
    max-width: 1200px;
  }

  .caja-2 {

    width: calc(40% - 15px);
  }

  .caja-1,
  .caja-3 {
    width: calc(30% - 15px);
  }
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f0f8ff;
  transition: all 0.5s ease;
}

h1 {
  font-size: 1.8em;
  color: #004d99;
}

.texto-adaptativo {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (min-width: 600px) {

  body {
    background-color: #000000;
  }

  h1 {
    font-size: 2.5em;
  }

  .texto-adaptativo {
    font-size: 1.1em;
  }
}

@media (min-width: 900px) {

  body {
    background-color: #ccf2ff;
  }

  h1 {
    font-size: 3.2em;
  }

  .texto-adaptativo {
    font-size: 1.25em;
  }
}

@media (min-width: 1200px) {

  body {
    background-color: #99e6ff;
  }

  h1 {
    font-size: 4em;
  }
}